<div style="text-align:center;">
    <div class="main-container">
        <div class="shadow_brown">

<br>
<h1><font color="#FFFFFF"></i> Let's practice ENGLISH <i class="far fa-grin-wink"></i></h1>
<br>

<%= button_to "Phonics", study_phonics_path, method: :get, :class => "btn btn-success btn-lg btn-block" %>
<p class="mb2"><font size="3" color="#FFFFFF"> Question の　おと　を　きいて、　きこえた　おと　で　はじまる　もの　を　えらぼう！</p>

<%= button_to "Words", study_phonics_path, :class => "btn btn-danger btn-lg btn-block" %>
<p class="mb2"><font size="3" color="#FFFFFF"> え　を　みて、　なに　か　こたえよう！</p>

<%= button_to "Listening", study_phonics_path, :class => "btn btn-warning btn-lg btn-block" %>
<p class="mb2"><font size="3" color="#FFFFFF"> おと　を　きいて、　なに　か　こたえよう！</p>

<%= button_to "Games", study_phonics_path, :class => "btn btn-info btn-lg btn-block" %>
<p class="mb2"><font size="3" color="#FFFFFF"> ゲーム　で　えいご　を　たのしもう！</p>

        </div>
    </div>
</div>