<div style="text-align:center;">
    <div class="main-container">

<h1  class="text-muted"><i class="far fa-grin-squint"></i> Let's practice ENGLISH <i class="far fa-grin-squint"></i></h1>

<p></p>
<%= button_to "Phonics", study_phonics_path, :class => "btn btn-success btn-lg btn-block" %>

<%= button_to "Words", study_phonics_path, :class => "btn btn-danger btn-lg btn-block" %>

<%= button_to "Listening", study_phonics_path, :class => "btn btn-warning btn-lg btn-block" %>

<%= button_to "Games", study_phonics_path, :class => "btn btn-info btn-lg btn-block" %>

    </div>
</div>