<div style="text-align:center;">
    <div class="main-container">
        <div class="shadow_yellow">
        


<h1  class="text-muted"><i class="far fa-grin-squint"></i> Let's practice ENGLISH <i class="far fa-grin-squint"></i></h1>


<%= button_to "Phonics", study_phonics_path, method: :get, :class => "btn btn-success btn-lg btn-block" %>
<p>Question の　おと　を　きいて、　きこえた　おと　で　はじまる　もの　を　えらぼう！</p>

<%= button_to "Words", study_phonics_path, :class => "btn btn-danger btn-lg btn-block" %>
<p>え　を　みて、　なに　か　こたえよう！</p>

<%= button_to "Listening", study_phonics_path, :class => "btn btn-warning btn-lg btn-block" %>
<p>おと　を　きいて、　なに　か　こたえよう！</p>

<%= button_to "Games", study_phonics_path, :class => "btn btn-info btn-lg btn-block" %>
<p>ゲーム　で　えいご　を　たのしもう！</p>

        </div>
    </div>
</div>