<div class="main-container">

<h1  class="text-danger"><i class="far fa-grin-squint"></i> Let's practice ENGLISH <i class="far fa-grin-squint"></i></h1>

<p></p>
<%= button_to "Phonics", study_phonics_path, :class => "btn btn-primary btn-lg btn-block" %>

</div>